/* reset css */
 *{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     box-sizing: content-box;
 }

/* common */
body {
    background: #f6f8f9;
}

.white{
    color: #fff;
}

hr {
    border: 0;
    border-bottom: 10px solid #f6f8f9;
}


/* header */
  header {
     /* margin: 10px 5px; */
     padding: 10px 8px;
     background: #fff;
  }

 #logo-img {
     width: 90px;
     vertical-align: middle;
 }

 #logo-text {
     display: inline-block;
     font-size: 50px;
     vertical-align: middle;
 }
  
/* main content */
 .container-middle {
     width: 1000px;
     height: 600px;
     background: #fff;
     margin: 50px auto;
     padding: 30px 50px;
     border-radius: 10px;
 }

 .add-task-box {
     background: #47adf1;
     width: 70px;
     padding: 8px 28px;
     border-radius: 12px;display: inline-block;
 }

 .add-section-box {
    background: #fff;
    border: 1px solid #c5cbd0;
    width: 87px;
    padding: 8px 28px;
    border-radius: 12px;
    display: inline-block;
    color: #cbd0d5
 }

