/* reset css */
 *{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     box-sizing: content-box;
 }

/* common */
.container {
    /* width: 50%;
    margin: auto; */
}

body {
    background: #f6f8f9;
}

span {
    color: #fff;
}

li {
    list-style-type: none;
    padding: 15px 0px;
}

hr {
    border: 0;
    border-bottom: 2px solid #f6f8f9;
    margin-top: 9px;
}


/* header */
  header {
     /* margin: 10px 5px; */
     padding: 10px 8px;
     background: #fff;
  }

 #logo-img {
     width: 60px;
     vertical-align: middle;
     margin-left: 20px;
 }

 #logo-text {
     display: inline-block;
     font-size: 45px;
     vertical-align: middle;
 }
  
/* main content */
 .container-hight {
     width: 900px;
     height: 640px;
     background: #fff;
     margin: 50px auto;
     margin-bottom: 50px;
     border-radius: 10px;
 }

 .add-task-box {
    background: #47adf1;
    width: 70px;
    padding: 8px 10px;
    margin-top: 15px;
    margin-left: 65px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
 }

 .add-section-box {
    background: #fff;
    border: 1px solid #c5cbd0;
    width: 87px;
    padding: 8px 10px;
    margin-top: 15px;
    border-radius: 6px;
    display: inline-block;
    color: #cbd0d5;
    text-align: center;
    font-size: 13px;
 }

 /* second section middle */
  .conteiner-middle {
      padding: 60px;
      padding-top: 40px;
    }

    .type-box-blue {
      border-radius: 50%;
      font-size: 5px;
      background-color: #45abea;
      border-radius: 16px;
      font-size: 11px;
      background-color: #45abea;
      padding: 6px 18px;
      /* color: #fff; */
      margin-left: 8px;
    }
    
    .type-box-purple {
        background-color: #9c72e4;
        border-radius: 16px;
        font-size: 11px;
        padding: 6px 18px;
        /* color: #fff; */
        margin-left: 8px;
    }
    
    .type-box-green {
        background-color: #64c0a9;
        border-radius: 16px;
        font-size: 11px;
        padding: 6px 18px;
        /* color: #fff; */
        margin-left: 8px;
    }

    .type-box-orange {
        background-color: #f29e33;
        border-radius: 16px;
        font-size: 11px;
        padding: 6px 18px;
        /* color: #fff; */
        margin-left: 8px;
    }

    .type-box-darkrose {
        background-color: #d863a1;
        border-radius: 16px;
        font-size: 11px;
        padding: 6px 18px;
        /* color: #fff; */
        margin-left: 8px;
    }

    .type-box-lime {
        background-color: #b0c926;
        border-radius: 16px;
        font-size: 11px;
        padding: 6px 18px;
        /* color: #fff; */
        margin-left: 8px;
    }

    .check-symbol {
        color: #65c0a9;
        border: 1px solid #65c0a9;
        padding: 3px 5px;
        font-size: 13px;
        border-radius: 50%;
        margin-right: 8px;
    }
    
    .delete-symbol {
        color: #eb5851;
        border: 1px solid #eb5851;
        padding: 3px 7px;
        font-size: 13px;
        border-radius: 50%;
        margin-right: 8px;
    }



